.App{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.App_color_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 1px solid red;
    margin: 20px;
}

.button{
    padding-top: 350px;
}

